section.page.class-page
  h1 Class Page!
  div.container(data-hook="threads-list")
  form.hidden(data-hook="add-thread-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn#submit(type="submit") Submit
  button.btn(data-hook="add-thread") Add a Thread
