include ../mixins/page.jade
include ../mixins/form.jade

+page("class-page")
  h1 Class Page!
  div.container(data-hook="threads-list")
  +form("add-thread-form")(class="hidden")
  button.btn(data-hook="add-thread") Add a Thread
