include ../mixins/page.jade

+page("classes-page")
  h1 classes page!
  div.myClasses(data-hook="my-classes")
  div.allClasses(data-hook="all-classes")
  button.btn(data-hook="add-class") Add a Class
