section.page.login-page
  h1 Login Form
  form(data-hook="user-login")
    fieldset(data-hook="field-container")
    .buttons
      button.btn#submit(type="submit") Login
      a.btn(href="/signup") Signup
