<!DOCTYPE html>
<%- watchScript %>
<html lang="us">
    <head>
        <meta charset="utf-8">
        <link href="jqueryui/jquery-ui.css" rel="stylesheet">
        <link href="css/home.css" rel="stylesheet">
        <script src="jqueryui/external/jquery/jquery.js"></script>
        <script src="jqueryui/jquery-ui.js"></script>
        <script src="jqueryui/jquery.layout-latest.js"></script>
        <script src="jqueryui/jquery-jscroll.js"></script>
        <title>UniBull Home</title>
    </head>

    <body>
        <div id="container">
            <div class="pane ui-layout-center">
                <div>
                    <button id="toclass">Classrooms</button>
                    <button id="toclubs">Clubs</button>
                    <button id="toevents">Events</button>
                </div>
                <hr>

                <div id="feedtitle"></div>

                <div id="feedcontainer">
                </div>

            </div>

            <div class="ui-layout-north">
                <p class="alignleft"><button id="home">Home</button></p>
                <p class="aligncenter">
                <font size="20">UniBull</font>
                </p>
                <p class="alignright">Profile Pic</p>
            </div>

            <div class="ui-layout-south center">
                <button id="logout"> LOGOUT </button>
            </div>
            <div class="ui-layout-east pane center">
                <h1>Notification Center</h1>
            </div>
        </div>

        <script src="js/home-bundle.js"></script>
    </body>
</html>
