<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/login-bundle.js"></script>
        <%- watchScript %>
        <title>UNIBULL</title>
    </head>
    <body>
        Hello, world. This is my terrible login page.
        <section class="loginform cf">
            <form id="myForm" name="login" accept-charset="utf-8">
                <ul>
                    <li><label for="username">Username</label>
                        <input id="username" type="text" name="username" placeholder="username" ></li>
                    <li><label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="yourname@email.com" ></li>
                    <li><label for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="password" ></li>
                    <li>
                        <button id="button"> SUBMIT </button>
                </ul>
            </form>
        </section>
        <div></div>
        Or, sign up <a href="/signup">here</a>
    </body>
    <script>
$(document).ready(function() {
    $("#button").click(function() {
        var login = require("login");
        var onLogin = login.onLogin;
        var fields = $("#myForm #username, #myForm #email, #myForm #password");
        return onLogin($, fields, function(err, data){
            if(err){
                return console.log(err);
            }
            if(data.redirect){
                window.location.replace(data.redirect);
            }
        });
    });
});
    </script>
</html>
