<!DOCTYPE html>
<%- watchScript %>
<html lang="us">
<head>
    <meta charset="utf-8">
    <title>UniBull Login Page</title>
    <link href="jqueryui/jquery-ui.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script src="js/login-bundle.js"></script>
    <script src="jqueryui/external/jquery/jquery.js"></script>
    <script src="jqueryui/jquery-ui.js"></script>
</head>
<body>
    <center>
        <h1>
            Welcome to Unibull
        </h1>
        <div class="formbox">
            <section class="loginform">
                <form id="myForm" name="login" accept-charset="utf-8">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" placeholder="Username">
                    <br><label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Password">
                    <br><br><button id="loginButton">Login</button>
                </form>
            </section>
        </div>
        <br><hr><br>
        New to UniBull?
        <br><br>
        <button id="signupButton">Create an account!</button>
        <br><br><hr><br>
        <button id="logoutButton">LOGOUT</button>
    </center>

    <script src="js/login-bundle.js"></script>
</body>
</html>
