<!DOCTYPE html>
<%- watchScript %>
<html lang="us">
    <head>
        <meta charset="utf-8">
        <link href="jqueryui/jquery-ui.css" rel="stylesheet">
        <link href="css/home.css" rel="stylesheet">
        <script src="jqueryui/external/jquery/jquery.js"></script>
        <script src="jqueryui/jquery-ui.js"></script>
        <script src="jqueryui/jquery.layout-latest.js"></script>
        <script src="jqueryui/jquery-jscroll.js"></script>
        <title>UniBull Menus</title>
    </head>

    <body>
        <div id="container">
            <div class="pane ui-layout-center">
                <div>
                    <button id="toclass">Classrooms</button>
                    <button id="toclubs">Clubs</button>
                    <button id="toevents">Events</button>
                    <button id="tomenu">Menu</button>
                </div>
                <hr>

                <div id="menutitle"></div>

                <div id="menucontent"></div>
                <div id="menutab">
                  <ul>
                    <li><a href="#bf-tab" id="bf">Breakfast</a></li>
                    <li><a href="#lunch-tab" id="lunch">Lunch</a></li>
                    <li><a href="#dinner-tab" id="dinner">Dinner</a></li>
                  </ul>

                    <ol id="bf-tab" class="selectable"></ol>
                    <ol id="lunch-tab" class="selectable"></ol>
                    <ol id="dinner-tab" class="selectable"></ol>
                </div>

            </div>

            <div class="ui-layout-west center">
                <ul id="menu">
                <li class="ui-widget-header">Dining Hall</li>
                <li id="cowell">Cowell/Stevenson</li>
                <li id="crown">Crown/Merill</li>
                <li id="nine">Nine/Ten</li>
                <li id="porter">Porter/Kresge</li>
                <li id="eight">Eight/Oakes</li>
                <li class="ui-widget-header">On-Campus Resturants</li>
                </ul>
            </div>

            <div class="ui-layout-north">
                <p class="alignleft"><button id="home">Home</button></p>
                <p class="aligncenter">
                <font size="20">UniBull</font>
                </p>
                <p class="alignright">Profile Pic</p>
            </div>

            <div class="ui-layout-south center">
                <button id="logout"> LOGOUT </button>
            </div>
            <div class="ui-layout-east pane center">
                <h1>Notification Center</h1>
            </div>
        </div>

        <script src="js/menu-bundle.js"></script>

    </body>
</html>
