<!DOCTYPE html>
<%- watchScript %>
<head>
    <meta charset="utf-8">
    <link href="jqueryui/jquery-ui.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
    <script src="jqueryui/external/jquery/jquery.js"></script>
    <script src="jqueryui/jquery-ui.js"></script>
    <title>UniBull Signup Page</title>
</head>
<html>
    <body>
        <h1 class="center">Thanks for choosing UniBull!<br>Please fill out the form below.</h1>
        <div class="center-fixed">
            <div class="formBox">
                <section class="signupform">
                    <form id="myForm" name="signup" accept-charset="utf-8">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" placeholder="Username" >
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="yourname@email.com" >
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password" >
                        <label for="password">Confirm Password</label>
                        <input id="confirmpassword" type="password" name="password" placeholder="Password" >
                    </form>
                </section>
                <br>
                <div class="center">
                    <button id="submit"> SUBMIT </button>
                </div>
                <br>
            </div>
            <br><hr><br><div class="center">
                <button id="loginLink"> LOGIN PAGE </button>
            </div><br><br><hr>
        </div>

        <script src="js/signup-bundle.js"></script>
    </body>
</html>
