<!DOCTYPE html>
<%- watchScript %>
<script src="jqueryui/external/jquery/jquery.js"></script>
<script src="jqueryui/jquery-ui.js"></script>
<head>
    <meta charset="utf-8">
    <title>UniBull Signup Page</title>
    <link href="jqueryui/jquery-ui.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
</head>
<html>
    <center>
        <body>
            <header><title>Sign up for UniBull</title></header>
            <h1>Thanks for choosing UniBull!
                <br>Please fill out the form below.
            </h1>
            <div class="formBox">
                <section class="signupform">
                    <form id="myForm" name="signup" accept-charset="utf-8">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="Username" placeholder="Username" >
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="yourname@email.com" >
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password" >
                        <label for="password">Confirm Password</label>
                        <input id="confirmpassword" type="password" name="password" placeholder="Password" >
                    </form>
                </section>
                <br>
                <button id="submit"> SUBMIT </button>
                <br>
            </div>
            <br><hr><br>
            <button id="loginLink"> LOGIN PAGE </button>
            <br><br><hr>

            <script src="js/signup-bundle.js"></script>
        </body>
    </center>
</html>
