<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/signup-bundle.js"></script>
<html>
<%- watchScript %>
    <header><title>UNIBULL</title></header>
    <body>Sign up by filling out the form below.</body>
    <div>
    </div>
<section class="loginform cf">
<form id="myForm" name="login" method="post" accept-charset="utf-8">
    <ul>
        <li><label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="username" ></li>
        <li><label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="yourname@email.com" ></li>
        <li><label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="password" ></li>
        <li>
        <button id="button"> SIGN UP </button>
    </ul>
</form>
</section>
</html>
<script>
$(document).ready(function() {
    $("#button").click(function() {
        var signup = require("signup");
        var onSignUp = signup.onSignUp;
        var fields = $("#myForm #username, #myForm #email, #myForm #password");
        return onLogin($, window, fields);
    });
});
</script>