html, body{
    font: 82.5% "Lucida Console", Monaco, monospace;
    margin: 50px;
    width:		100%;
    height:		100%;
    padding:	0;
    margin:		0;
    overflow:	auto; /* when page gets too small */
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}
#container {
    background:	#999;
    height:		100%;
    margin:		0 auto;
    width:		100%;
    max-width:	1024px;
    min-width:	960px;
    _width:		700px; /* min-width for IE6 */
}
.pane {
    display:	none; /* will appear when layout inits */
}
.alignleft {
    float: left;
    width:33.33333%;
    text-align:left;
}
.aligncenter {
    float: left;
    width:33.33333%;
    text-align:center;
}
.alignright {
    float: left;
    width:33.33333%;
    text-align:right;
}
.ui-layout-pane-north,
.ui-layout-pane-south {
    border: 0 !important;
    background: none !important;
}
.center {
    text-align: center;
}
