/*top level container for threads*/
.thread_container{
    border: thin solid;
    padding: 3px 3px 3px 10px;
    background: #F6F6F6;
    width: auto;
    height: auto;
    margin: 20px;
    overflow:auto
}

.thread_header button{
     float: left;
     background: none;
     border: none;
     font-size: 12px;
}

/*title container for threads*/
.thread_title{
    margin: 5px;
    font-family: Times;
    font-size: 30px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
}

.thread_title:first-letter{
    text-transform: uppercase;
}
/*wrapper for thread_content, author, date, buttons */
.thread_content_wrapper{
    display: none;
}
/*content container for threads*/
.thread_content{
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
}
.thread_auth_date{
    
}
.thread_author{
    padding-left: 1%;
    float: left;
    width:33.33333%;
    text-align:left;
    font-family: Times;
    font-size: 12px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 28px;
    border-bottom: 1px solid #000;
}

.thread_postdate{
    float: left;
    width:65%;
    text-align:right;
    font-family: Times;
    font-size: 12px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 28px;
    border-bottom: 1px solid #000;
}
/*actions (buttons) container for threads*/
.thread_actionsrply{
    padding-left: 1%;
    width: auto;
    display:inline-block;
}

.thread_actionsspam{
    padding-left: 1%;
    float: right;
    display:inline-block;
}

.thread_actionsrply, .thread_actionsspam button{
    background: none;
    border: none;
    /*font-family: Times;
    font-size: 12px;*/
}
/*wrapper/container for reply submission form*/
.reply_form_wrapper{
    display: none;
    text-align: left;
    border: thin solid black;
    padding: 10px;
}
/*reply form for submitting a reply*/
.reply_form{

}
/*replies container for threads*/
.thread_replies{

}
/*top level container for replies*/
.reply_container{
    border: thin solid;
    padding: 3px 3px 3px 10px;
}

/*content container for replies*/
.reply_content{

}
/*actions (buttons) container for replies*/
.reply_actions{

}
/*css properties for buttons on threads and replies*/
.thread_button{
    background: none;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    cursor:pointer;
}

.thread_button:hover {
    text-decoration:underline;
}
/*wrapper for thread submission form*/
.submit_wrapper{
    display: none;
    text-align: left;
    border: thin solid;
    padding: 10px 10px;
}
