<!DOCTYPE html>
<%- watchScript %>
<html lang="us">
    <head>
        <title>UniBull Class</title>
        <link href="/jqueryui/jquery-ui.css" rel="stylesheet">
        <link href="/css/classroom.css" rel="stylesheet" type="text/css">
        <link href="/css/threads.css" rel="stylesheet" type="text/css">
        <script src="/jqueryui/external/jquery/jquery.js"></script>
        <script src="/jqueryui/jquery-ui.js"></script>
        <script src="/jqueryui/jquery.layout-latest.js"></script>
    </head>

    <body>
        <div id="container">
            <div class="pane ui-layout-center">
                <div>
                    <button id="toclass">Classrooms</button>
                    <button id="toclubs">Clubs</button>
                    <button id="toevents">Events</button>
                </div>
                <hr>
                <h1 class="center" id="classID"><%= classTitle %></h1>
                <button id="newpost"> Submit a post </button><br>
                <div class="submit_wrapper" id="submit_wrapper">
                    <form id="submitform" name="submitform" accept-charset="utf-8">
                        <label for="title">Title</label><br>
                        <input contenteditable="true" id="title" type="text" name="title"><br>
                        <label for="content">Content</label><br>
                        <input contenteditable="true" class="submissioncontent" id="content" type="text" name="content">
                        <input type="submit" style="display:none">
                    </form>
                    <br>
                    <button id="submit_post">Submit</button>
                    <button id="cancel">Cancel</button>
                </div>
                <hr>
                <div id="forum">
                    <% threads.forEach(function(thread) { %>
                    <div class="thread_container" data-thread="<%= thread.uuid %>" name="thread_container">
                        <div class="thread_header">
                            <button class="thread_button" data-thread="<%= thread.uuid %>" name="viewcontent"> [+] </button>
                            <p class="thread_title" data-thread="<%= thread.uuid %>" name="postcontent"> <%= thread.title %> </p>
                        </div>
                        <div class="thread_content_wrapper" data-thread="<%= thread.uuid %>">
                            <p class="thread_content"  data-thread="<%= thread.uuid %>"> <%= thread.content %> </p>
                            <p class="thread_author"> user </p>
                            <p class="thread_postdate"> some time </p>
                            <div class="thread_actionsrply">
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="reply"> Reply </button>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="viewreplies"> Show Replies </button>
                            </div>
                            <div class="thread_actionsspam">
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="edit"> Edit </button>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="delete"> Delete </button>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="report"> Report </button>
                            </div>
                            <div class="reply_form_wrapper" data-thread="<%= thread.uuid %>">
                                <form class="reply_form" name="reply_form" accept-charset="utf-8">
                                    <label for="reply_form_content">Content</label><br>
                                    <textarea class="reply_form_content" src="reply" data-thread="<%= thread.uuid %>" type="text" name="content" cols="60" rows="3"></textarea>
                                </form>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="cancel_reply">Cancel</button>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" data-title="<%= thread.title %>" name="submit_reply">Submit</button>
                            </div>
                            <div class="edit_form_wrapper" data-thread="<%= thread.uuid %>">
                                <form class="edit_form" name="edit_form" accept-charset="utf-8">
                                    <label for="edit_form_content">Edit Post</label><br><br>
                                    <input class="edit_form_content" type="editPost" data-thread="<%= thread.uuid %>" type="text" name="title"> <br><br>
                                    <textarea class="edit_form_content" src="editPost" data-thread="<%= thread.uuid %>" type="text" name="content" cols="65" rows="5"></textarea>
                                </form>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="cancel_postEdit">Cancel</button>
                                <button class="thread_button" data-thread="<%= thread.uuid %>" name="submit_postEdit">Submit</button>
                            </div>
                        </div>
                        <div class="thread_auth_date" data-thread="<%= thread.uuid %>">
                            <p class="thread_author"> user </p>
                            <p class="thread_postdate"> some time </p>
                        </div>
                        <div class="thread_replies" data-thread="<%= thread.uuid %>" name="thread_replies">
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="ui-layout-north">
                <p class="alignleft">
                <button id="home">Home</button>
                </p>
                <p class="aligncenter">
                <font size="12">UniBull</font>
                </p>
                <p class="alignright">Profile Pic</p>
            </div>
            <div class="ui-layout-south center">
                <button id="logout">LOGOUT</button>
            </div>
            <div class="ui-layout-east center pane">
                <h1>Notification Center</h1>
            </div>
        </div>

        <script>
            var classID = "<%= classID %>";
        </script>
        <script src="/js/classroom-bundle.js"></script>
    </body>
</html>
